@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures.ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ?? "uk";
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle remove-arrow planet-icon" href="#" id="langDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-6.468 4.252c.529-.151 1.26-.252 2.027-.252h.095c.204 0 .411.001.618.004A13.134 13.134 0 0 1 8 1zm-6.468 5.252A7.007 7.007 0 0 0 1 8c0 .338.02.674.057 1H.5a7.012 7.012 0 0 0 1.032-3.748zm12.936 0A7.012 7.012 0 0 0 15 8c0 .338-.02.674-.057 1h.557a7.012 7.012 0 0 0-1.032-3.748zM8 15a7 7 0 0 0 6.468-4.252c-.529.151-1.26.252-2.027.252h-.095a13.134 13.134 0 0 1-.618-.004A13.134 13.134 0 0 1 8 15zm-4.468-1.748c.529.151 1.26.252 2.027.252h.095c.204 0 .411-.001.618-.004a13.134 13.134 0 0 1-2.74-.248 7.007 7.007 0 0 1-0.0.0z" />
        </svg>
    </a>


    <ul class="dropdown-menu dropdown-menu-end border-2 border-dark shadow" aria-labelledby="langDropdown">
        @foreach (var culture in cultureItems)
        {
            <li>
                <form id="selectLanguage_@culture.Name" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" class="form-horizontal">
                    <input type="hidden" name="culture" value="@culture.Name" />
                    <button type="submit" class="dropdown-item @(culture.Name == currentCulture ? "active bg-dark" : "")">
                        @culture.NativeName
                    </button>
                </form>
            </li>
        }
    </ul>
</li>