@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<div class="cyber-container fade-in">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1 class="glitch-text" data-text="СИСТЕМНІ НАЛАШТУВАННЯ">СИСТЕМНІ НАЛАШТУВАННЯ</h1>
            <p class="pixel-text text-muted">> КОНФІГУРАЦІЯ ОБЛІКОВОГО ЗАПИСУ</p>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-lg-3">
            <div class="cyber-card h-100">
                <h3 class="card-header-pixel">> НАВІГАЦІЯ</h3>
                <partial name="_ManageNav" />
            </div>
        </div>

        <div class="col-lg-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}