################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/FETCh/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
/.vs/FETCh/FileContentIndex
/.vs/FETCh/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
/.vs/FETCh/CopilotIndices/17.13.433.20974
/.vs
/FETCh/.vs/FETCh/FileContentIndex/50a040f5-8458-417d-8827-aee53177069b.vsidx
/FETCh/.vs/FETCh/FileContentIndex/a1a7a157-d4b0-47d8-8f82-e471de5f5eeb.vsidx
/FETCh/.vs/FETCh/FileContentIndex/d40bcbab-d285-4c07-8069-1890b28e05ab.vsidx
/FETCh/obj/Debug/net9.0/FETCh.AssemblyInfo.cs
/FETCh/obj/Debug/net9.0/FETCh.AssemblyInfoInputs.cache
/FETCh/obj/Debug/net9.0/FETCh.csproj.AssemblyReference.cache
/FETCh/obj/Debug/net9.0/FETCh.assets.cache
/FETCh/obj/Debug/net9.0/FETCh.GlobalUsings.g.cs
/FETCh/obj/Debug/net9.0/FETCh.RazorAssemblyInfo.cache
/FETCh/obj/Debug/net9.0/FETCh.RazorAssemblyInfo.cs
*.json
/FETCh/obj/Debug/net9.0/FETCh.GeneratedMSBuildEditorConfig.editorconfig
/FETCh/obj/FETCh.csproj.nuget.g.props
*.cache
/FETCh/.vs/ProjectEvaluation/fetch.metadata.v9.bin
/FETCh/.vs/ProjectEvaluation/fetch.projects.v9.bin
/FETCh/.vs/ProjectEvaluation/fetch.strings.v9.bin
