@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Всі користувачі";
}

<h2 class="mt-3">👥 Всі користувачі</h2>

<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>Email</th>
            <th>UserName</th>
            <th>Name</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
